flask
joblib
requests
python-whois
dnspython
tldextract
pandas
beautifulsoup4
scikit-learn
xgboost
lightgbm
tensorflow
nltk
pillow
numpy
opencv-python
pyzbar
instaloader
openai-whisper
SpeechRecognition
imageio-ffmpeg
gunicorn